* {
  font-family: sans-serif;
  color: #FFFFFF; /* White */
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "Lulo Clean W01 One Bold";
  src: url("https://db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot");
  src: url("https://db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.svg#Lulo Clean W01 One Bold")format("svg");
}

@font-face {
  font-family: "Lulo Clean W01 One";
  src: url("https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.eot");
  src: url("https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.svg#Lulo Clean W01 One")format("svg");
}

html {
  scroll-behavior: smooth;
  scroll-behavior: slow;
}

body {
  overflow-x: hidden;
  cursor: url('./maincursor.png'), auto;
  background-color: #0E0E0E; /* Dark Background */
}

#Home {
  background-color: #201F3E; /* Dark Purple */
  background-image: url(./realvalbackground.png);
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#Home h1 {
  font-family: "Lulo Clean W01 One Bold";
  color: #FFFFFF; /* White */
  position: absolute;
  font-size: 60px;
  text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 4px;
  z-index: 2;
  margin-top: 10px;
  text-align: center;
}

#Home img {
  position: absolute;
  bottom: 0px;
}

#Mountain1 {
  position: absolute;
  margin-bottom: 106px;
  margin-left: 60px;
  width: 100%;
  pointer-events: none;
}

#Mountain2 {
  width: 100%;
  z-index: 3;
  pointer-events: none;
}

#leftCloud,
#mainCloud,
#rightCloud {
  top: 120px;
  width: 200px;
}

#leftCloud {
  left: 20px;
}

#rightCloud {
  right: 20px;
}

@keyframes loadAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

header nav {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  z-index: 4;
  padding: 30px 140px;
  font-size: 22px;
  animation: loadAnimation 2s;
}

header nav span {
  width: 50%;
  padding-right: 60px;
  display: flex;
  justify-content: space-around;
  font-weight: 600;
}

header nav span a {
  text-decoration: none;
  position: relative;
}

header nav span a::before {
  content: "";
  background-color: #FFFFFF; /* White */
  width: 0%;
  height: 2.5px;
  display: unset;
  position: absolute;
  border-radius: 20px;
  bottom: -5px;
  transition: 0.3s;
}

header nav span a:hover::before {
  width: 100%;
}

.menu-span a {
  cursor: url("./pointercursor.png"), auto;
}

#About {
  background-color: #586ae2;
  padding: 50px 100px;
  min-height: 50vh;
  font-size: 20px;
  line-height: 1.6;
}

#About h1 {
  font-family: "Lulo Clean W01 One Bold";
  color: #FFFFFF; /* White */
  font-size: 36px;
  padding-top: 50px;
  margin-bottom: 50px;
}

#About p {
  padding: 10px 0;
  color: #FFFFFF; /* White */
  font-family: "Lulo Clean W01 One";
  font-size: 18px;
  font-weight: 600;
}

.active {
  color: #000000; /* Black */
}

.active::before {
  background-color: #000000; /* Black */
  width: 100%;
}

#Shop {
  background-color: #586ae2;
  padding: 50px 100px;
  min-height: 200vh;
  font-size: 20px;
}

#Shop h1 {
  color: #FFFFFF; /* White */
  font-size: 40px;
  padding-top: 50px;
  font-family: "Lulo Clean W01 One Bold";
}

.shop-img {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img-top,
.img-mid,
.img-bottom {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.img-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  background-color: #201F3E; /* Dark Purple */
  padding: 20px;
  border-radius: 10px;
  position: relative;
  cursor: url("./pointercursor.png"), auto;
}

.img-content img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

#val-poster {
  font-size: 14px;
  margin-top: 10px;
}

.img-content p {
  color: #FFFFFF; /* White */
  font-family: "Lulo Clean W01 One";
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.img-mid {
  margin-top: 50px;
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.img-bottom {
  margin-top: 50px;
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.img-content.flip {
  perspective: 1000px;
  display: inline-block;
  position: relative;
}

.img-content .front-image,
.img-content .back-image {
  transition: opacity 0.5s, transform 0.5s;
  transform-style: preserve-3d;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.img-content .back-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotateY(180deg);
  transition: opacity 0.5s, transform 0.5s;
}

.img-content:hover .front-image {
  opacity: 0;
  transform: rotateY(-180deg);
}

.img-content:hover .back-image {
  opacity: 1;
  transform: rotateY(0deg);
}

.img-content {
  position: relative;
}

.img-content .back-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotateY(180deg);
  transition: opacity 0.5s, transform 0.5s;
}

.page-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin: 20px auto;
}

.page-navigation a {
  margin-left: 10px;
  text-decoration: none;
}

.page-navigation h2 {
  color: #FFFFFF; /* White */
  text-decoration: none;
  font-family: "Lulo Clean W01 One";
  font-size: 32px;
  font-weight: bolder;
  text-decoration: none;
}
